.content {
  background-image: url('/images/akona.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.about-text {
  color: white;
  text-align: left;
  padding: 40px 30px;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: 'Lato', sans-serif;
  backdrop-filter: blur(3px);
  border-radius: 10px;
  margin-top: 20vh;
  margin-left: 20vh;
  margin-right: 50%;
  width: auto;
}

.about-text h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.about-text p {
  line-height: 1.8;
  margin-bottom: 15px;
  max-width: 80%;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5) !important;
  margin-right: 0 !important;
  width: auto !important;
  color: black !important;
}
