/* SECTION PROJECT DETAIL */
/* SECTION PROJECT DETAIL */
.project-detail {
  background-color: #2c2e25;
  color: #ffffff;
  padding: 50px 20px;
  font-family: 'Lato', sans-serif;
}

.project-detail .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.project-detail h1 {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.project-detail .project-banner {
  width: 100%;
  height: auto;
  margin: 30px 0;
  border-radius: 8px;
  border: 5px solid #00d6b4; /* Ajout d'une bordure verte */
}

.project-detail .description {
  font-size: 18px;
  color: #dddddd;
  line-height: 1.6;
  text-align: center;
  margin: 20px 0;
}

.project-detail h2 {
  font-size: 24px;
  color: #00d6b4; /* Utilisation du vert pour les sous-titres */
  margin-top: 40px;
}

.project-detail ul {
  font-size: 18px;
  color: #dddddd;
  line-height: 1.8;
  list-style-type: none;
  padding-left: 0;
}

.project-detail ul li {
  margin-bottom: 10px;
}

.project-detail .links {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.project-detail .links a {
  text-decoration: none;
  color: #00d6b4;
  font-size: 18px;
  padding: 10px 20px;
  border: 2px solid #00d6b4;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.project-detail .links a:hover {
  color: white;
  background-color: #00d6b4;
  border-color: #00d6b4;
}

.project-detail .back-link {
  display: inline-block;
  margin-top: 40px;
  font-size: 18px;
  color: #00d6b4;
  text-decoration: none;
  border: 2px solid #00d6b4;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.project-detail .back-link:hover {
  color: white;
  background-color: #00d6b4;
  border-color: #00d6b4;
}
