.footer-inside {
  margin-top: auto;
  margin-bottom: 30px;
  padding-top: 20px;
  border-top: 1px solid #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 20vh;
  color: #00d6b4;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

.footer-inside p {
  margin: 5px 0;
}

.footer-left {
  flex: 1;
  justify-content: flex-start;
  align-items: left;
  padding: 10px 20px;
}

.footer-right {
  flex: 1;
  justify-content: flex-end;
  align-items: right;
  padding: 10px 20px;
}

.vibes {
  font-size: 19px;
}

@media (max-width: 768px) {
  .footer-inside {
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 12px;
  }

  .vibes {
    font-size: 16px;
  }
}
