body {
  background: #2C2E25;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/* HERO SECTION */
.hero {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: lato;
  font-weight: 300 - light;
  font-size: 48px;
  overflow: hidden;
  padding-top: 60px;
  z-index: 0;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/nubelson.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(10px);
  z-index: -1;
}

/* CONTENT SECTION */
.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  font-family: lato, sans-serif;
  font-size: 26px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* centre horizontalement les éléments */
  justify-content: center;
  text-align: center;
}
/* GENERAL SECTION STYLING */
section {
  background: #2C2E25;
  color: #ffffff;
}

.menu ul li a.active {
  color: #00d6b4;
  font-weight: bold;
}

.hero-content .contact {
  text-decoration: none;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: lato, sans-serif;
  color: #00d6b4;
  background-color: transparent;
  border: 2px solid #00d6b4;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-content .contact:hover {
  color: white;
  border-color: white;
}

/* message */
.success-message {
  background-color: transparent;
  color: #00d6b4;
  padding: 10px 20px;
  border-radius: 6px;
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* FOOTER */
.footer-inside {
  margin-top: auto;
  margin-bottom: 30px;
  padding-top: 20px;
  border-top: 1px solid #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 20vh;
  color: #00d6b4;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

.footer-inside p {
  margin: 5px 0;
}

.vibes {
  font-size: 19px;
}

.error-message {
  background-color: transparent;
  color: #ff6b6b;
  padding: 10px 20px;
  border-radius: 6px;
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}
