/* --- Navbar --- */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  z-index: 10;
  flex-wrap: wrap;
}

.logo {
  font-size: 24px;
  font-family: lato, sans-serif;
  color: white;
  font-weight: bold;
}

.logo sup {
  font-size: 14px;
  vertical-align: super;
}

.menu {
  display: flex;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: lato, sans-serif;
  color: #999;
}

.menu ul li a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s, font-weight 0.3s, text-decoration 0.3s;
}

.menu ul li a:hover {
  color: #cccccc;
}

.menu ul li a.active {
  color: #00d6b4;
  font-weight: bold;
  text-decoration: underline;
}

.icon {
  color: #00d6b4;
}

.icon:hover {
  color: #cccccc;
}

.menu-toggle {
  display: none;
}

/* --- Sous-menu Roadmap --- */
.menu ul li.submenu {
  position: relative;
}

.menu ul li.submenu > a {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.menu ul li.submenu .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  min-width: 150px;
  border-radius: 4px;
  padding: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  flex-direction: column;
  gap: 0;
}

.menu ul li.submenu:hover .dropdown {
  display: flex;
}

.menu ul li.submenu .dropdown li {
  margin: 0;
  padding: 0;
}

.menu ul li.submenu .dropdown li:last-child {
  border-bottom: none;
}

.menu ul li.submenu .dropdown li a {
  display: block;
  background-color: #161714;
  padding: 8px 15px;
  color: #999;
  text-decoration: none;
  font-weight: normal;
  line-height: 1.2;
}

.menu ul li.submenu .dropdown li a:hover {
  color: white;
}

/* --- Responsive (Mobile) --- */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 10px 20px;
  }

  .menu-toggle {
    display: block;
    font-size: 26px;
    color: #00d6b4;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 10px;
  }

  .menu {
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 20px;
  }

  .menu.active {
    display: flex;
  }

  .menu ul {
    flex-direction: column;
    gap: 10px;
  }

  .menu ul li.submenu .dropdown {
    position: static;
    display: none;
    padding-left: 20px;
    background-color: transparent;
    box-shadow: none;
    gap: 0;
  }

  .menu ul li.submenu.active .dropdown {
    display: flex;
    flex-direction: column;
  }
  
  /* Réduction de la zone cliquable du sous-menu en version mobile */
  .menu ul li.submenu > a {
    display: inline-flex;
    width: max-content;
    padding: 5px 10px;
  }
}
